{% extends 'layout.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <img class="profile-img" src="images/blank-profile.png">
  <div class="profile-desc">
	<h1>Contact</h1>
	<p>
		The easiest way I can be reached is via email. But feel free to contact me by other methods below.
	</p>
	<ul class="social">
		<li id="email"><a href="mailto:mbal29@hotmail.com">mbal29@hotmail.com</a></li>
		<li id="github"><a href="https://github.com/manjot-b">GitHub</a></li>
		<li id="linkedin"><a href="https://www.linkedin.com/in/manjot-bal/">Linkedin</a></li>
	</ul>
  </div>
{% endblock %}
