{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="profile">
	<img class="profile-img" src="/images/profile-600x600.jpeg">
	  <div class="profile-desc">
		<h1>About Me</h1>
		<p>
		  Hey there! I am a Computer Science graduate from the University of Calgary.
		  I have a huge passion for technology and I am always eager to learn about
		  different fields in tech such as computer graphics, firmware/IoT, web
		  development and networking. Check out some of my
		  <a href="/projects">projects</a>.
		</p>
		<h1 id="contact">Contact</h1>
		<p>
			The easiest way I can be reached is via email. But feel free to contact me by other methods below.
		</p>
		<ul class="social">
			<li id="email">
				<span>
					myfirstname<strong>AT</strong>manjotbal.ca. Please replace
					<strong>myfirstname</strong> with my actual first
					name.  (Written like this to avoid spam).
				</span>
			</li>
			<li id="github">
				<a href="https://github.com/manjot-b" target="_blank">GitHub</a>
			</li>
			<li id="linkedin">
				<a href="https://www.linkedin.com/in/manjot-bal/" target="_blank">Linkedin</a>
			</li>
		</ul>
	  </div>
	</div>
{% endblock %}
