{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <img class="profile-img" src="images/blank-profile.png">
  <div class="profile-desc">
	<h1>About Me</h1>
	<p>
	  Hey there! I am a computer science student about to receive his BSc from the University of Calgary. I have a huge passion for technology and am always eager to learn about different fields in tech such as computer graphics, firmware/IoT, web development and networking. Check out some of my <a href="#">projects</a>.
	</p>
	<p>
	  Want to get in touch? Check out the <a href="#">contacts</a> page to see how I can be reached.
	</p>
  </div>
{% endblock %}
