{% extends 'layout.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
	<h1>Projects</h1>
	</p>
		Some of my personal projects are listed down below. Click on a project to learn more 
		details about it.
	</p>
	<h2>Embedded</h2>
	<div class="projects">
		<a href="{{ site_url }}/projects" class="card-link">
			<div class="card">
				<img src="{{ site_url }}/images/projects/audec/dac-breadboard-800x600.jpg" 
				 alt="STM32 bluepill on a breadboard." />
				<div class="card-desc">
					<h3 class="card-title">AuDec</h3>
					<p>This project is a work in progress. I am creating a digital-to-analog 
					converter for PCM audio data using the STM32F103C8T6 (bluepill).</p>
				</div>
			</div>
		</a>
	</div>

	<h2>Graphics</h2>
	<div class="projects">
		<h3>HyperBright</h3>
	</div>
	<div class="projects">
		<h3>Perlin Noise</h3>
	</div>

	<h2>Quantum Computing</h2>
	<div class="projects">
		<h3>Error Detection and Correction</h3>
	</div>

	<h2>Web</h2>
	<div class="projects">
		<h3>manjotbal.ca</h3>
	</div>
{% endblock %}
