{% extends 'layout.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
	<section>
		<h1>Projects</h1>
		<p>
			Some of my personal projects are listed down below. Click on a project to learn more 
			details about it.
		</p>
	</section>

	{% for category in metadata.projects %}
	<section>
		<h2>{{ category | title }}</h2>
		<div class="projects">
			{% for project in metadata.projects[category] %}
			<div class="card">
				<a href="{{ project.url }}" class="card-link">
					<img src="{{ project.image.url }}" 
					alt="{{ project.image.alt }}" />
					<div class="card-desc">
						<h3 class="card-title">{{ project.name }}</h3>
						<p>{{ project.description | trim('\n') }}</p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>
	{% endfor %}
{% endblock %}
