body {
  	margin: 0;
	background-color: #fdf5e6;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > a:first-child {
	text-align: left;
	font-size: 2em;
}

nav > ul {
  	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
}

nav li > a {
	padding: 1em 2em;
}

nav li a:hover {
	background-color: #33afff;
}

nav a {
	color: #333;
	text-decoration: none;
}

nav a:visited {
	color: #333;
}

