* {
	color: #333;
}
body {
  	margin: 0;
	background-color: #f7f6e7;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #314e52;
	border: 1px solid #333;
}

nav > a:first-child {
	text-align: left;
	font-size: 2em;
	padding: 0.25em 0;
	padding-left: 1em;
	padding-right: .25em;
	white-space: nowrap;
}

nav > ul {
  	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	align-items: center;
}

nav li > a {
  	display: block;
	padding: .65em 2em;
	border-left: 1px solid #333;
}

@keyframes nav-hover {
	from
	{
		background-color: #314e52;
		color: #e7e6e1;
	}
	to
	{
		background-color: #f2a154;
		color: #333;
	}
}
nav li a:hover {
	padding: 1.08em 2em;
	animation-name: nav-hover;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

nav a {
	text-decoration: none;
	color: #e7e6e1;
}

nav a:visited {
	color: #e7e6e1;
}

.content {
	margin: 0 2em;
}
