body {
  	margin: 0;
	background-color: #fff7eb;
}

h1 {
	color: #1e325c;
}

p {
	color: #333;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffbe5c;
}

nav > a:first-child {
	text-align: left;
	font-size: 2em;
	padding: 0.25em 0;
	padding-left: 1em;
	padding-right: .25em;
	white-space: nowrap;
}

nav > ul {
  	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	align-items: center;
}

nav li > a {
  	display: block;
	padding: 1.08em 2em;
	border-left: 1px solid #333;
}

@keyframes nav-hover {
	from
	{
		background-color: #ffbe5c;
		color: #1e325c;
	}
	to
	{
		background-color: #2d4b8b;
		color: #ccc;
	}
}
nav li a:hover {
	animation-name: nav-hover;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

nav a {
	text-decoration: none;
	color: #1e325c;
}

nav a:visited {
	color: #1e325c;
}

.content {
	margin: 0 2em;
}
